import random
#import requests (optional)
import os
import socket
import hashlib
import time
import datetime
import uuid
import platform
import subprocess
import tkinter as tk
from tkinter import messagebox
import win32console, win32gui, win32con (pywin32)
cv2
